doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bower_comonents/bootstrap/dist/css/bootstrap.min.css')
  body
    block content

    //- All JS Dependencies
    script(src='/bower_comonents/jquery/jquery.min.js')
    script(src='/bower_comonents/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_comonents/angular/angular.min.js')
