extends ../layout

block content
  div(ng-controller="RecipeCtrl",
      ng-init='recipe = #{JSON.stringify(recipe)}')
    h1= recipe.name
    p= recipe._id
    form.form-inline(role="form")
      div.form-group
        label.sr-only(for="ingredient") Ingredient Name
        input.form-control(type="text",placeholder="Enter Ingredient Name",type-ahead)


    table.table.table-bordered.table-striped
      tr
        th Qty
        th Measure
        th Ingredient
        th Cal
        th &nbsp;
      //- tr.success
      //-   td 
      //-     input(type="text",value="1",size="2")
      //-   td 
      //-     select
      //-       option cup
      //-       option tbsp
      //-   td Celery, raw 
      //-   td Y   
      //-   td 
      //-     button.btn.btn-default(type="submit") Save

      tr(ng-repeat="ing in recipe.ingredients")
        td {{ing.nf_serving_size_qty}}
        td {{ing.nf_serving_size_unit}}
        td {{ing.item_name}}
        td {{ing.nf_calories}}
        td [x]

