extends ../layout

block content
  div(ng-controller='RecipesCtrl',
      ng-init='recipes = #{JSON.stringify(recipes)}')
    h1 View All Recipes
    

    //- div.row
    //-   div.col-md-6
    a.btn.btn-success.pull-right(href="#add") Add Recipe
    br
    br
    table.table.table-bordered.table-striped.table-hover
      thead
        tr
          //- th id
          th.col-sm-11 Name
          th.col-sm-1 &nbsp;
      tbody
        tr(ng-repeat="recipe in recipes")
          //- td(ng-bind='recipe._id')
          td
            a(ng-href="/recipes/{{recipe._id}}",ng-bind='recipe.name')
          td.text-center
            a(ng-href="/recipes/{{recipe._id}}")
              button.btn.btn-primary.btn-xs
                i.glyphicon.glyphicon-edit
            | &nbsp;
            button.btn.btn-danger.btn-xs
              i.glyphicon.glyphicon-trash
    a(name="add")
    h4 Add Recipe
    div
      form.form-inline(role="form",ng-submit="addRecipe()")
        div.form-group
          input.form-control(type="text",placeholder="Recipe Name",size="20",ng-model="recipe.name")
        div.form-group
          input.form-control(type="text",placeholder="Qty",size="2",ng-model="recipe.serving_unit_qty")
        div.form-group
          input.form-control(type="text",placeholder="Serving Name",size="15",ng-model="recipe.serving_unit_name")         
        div.form-group  
          input.form-control.btn-success(type="submit",value="Add")


