extends ../layout

block content
  div(ng-controller='RecipesCtrl',
      ng-init='recipes = #{JSON.stringify(recipes)}')
    h1 View All Recipes
    

    //- div.row
    //-   div.col-md-6
    //- REMOVING BECAUSE MATT HATES IT 
    //- WHEN I DO UI STUFF ... (>.>)
    //- button(id="popover",
    //-        class="btn btn-success pull-right",
    //-        bs-trigger="click",
    //-        bs-title="Add A New Recipe",
    //-        bs-placement="bottom",
    //-        bs-content="#addRecipeContent"
    //-        bs-pop-over)
      i.glyphicon.glyphicon-plus
    br
    br
    table.table.table-bordered.table-striped.table-hover
      thead
        tr
          //- th id
          th.col-sm-11 Name
          th.col-sm-1 &nbsp;
      tbody
        tr(ng-repeat="recipe in recipes")
          //- td(ng-bind='recipe._id')
          td
            //- This link will be to the item Show page
            a(ng-href="/recipes/{{recipe._id}}/edit",ng-bind='recipe.name')
          td.text-center
            //- This is a link to the edit
            a.btn.btn-primary.btn-xs(ng-href="/recipes/{{recipe._id}}/edit")
              i.glyphicon.glyphicon-edit
            | &nbsp;
            //- This button will do some JS magic and delete the item. :)
            button.btn.btn-danger.btn-xs(ng-click="delRecipe(recipe._id,$index)")
              i.glyphicon.glyphicon-trash
    
    //- Hidden Div that contains the HTML content for add button
    div(id="addRecipeContent")
      //- Set action to prevent page from loading
      //- Only when compiling a template in directive
      //- Temp Fix
      form.form-inline(ng-submit="addRecipe()")
        div.form-group
          input.form-control#name(type="text",placeholder="Recipe Name",size="20",ng-model="recipe.name")
        div.form-group
          input.form-control(type="text",placeholder="Qty",size="2",ng-model="recipe.serving_unit_qty")
        div.form-group
          input.form-control(type="text",placeholder="Serving Name",size="15",ng-model="recipe.serving_unit_name")         
        div.form-group
          button.form-control.btn-success Add


