extends ../layout

block content
  div(ng-controller='RecipesCtrl',
      ng-init='recipes = #{JSON.stringify(recipes)}')
    h1 View All Recipes
    div
      form.form-inline(role="form",ng-submit="addRecipe()")
        div.form-group
          input.form-control(type="text",placeholder="Recipe Name",size="20",ng-model="recipe.name")
        div.form-group
          input.form-control(type="text",placeholder="Qty",size="2",ng-model="recipe.serving_unit_qty")
        div.form-group
          input.form-control(type="text",placeholder="Serving Name",size="15",ng-model="recipe.serving_unit_name")         
        div.form-group  
          input.form-control(type="submit",value="Add")

    div.row
      div.col-md-8
        table.table.table-bordered.table-striped
          tr
            th id
            th Name
            th &nbsp;
    
          tr(ng-repeat="recipe in recipes")
            td(ng-bind='recipe._id')
            td 
              a(ng-href="/recipes/{{recipe._id}}",ng-bind='recipe.name')
            td
              button.btn.btn-danger
                i.glyphicon.glyphicon-trash



